<nav style="background-color: #333; padding: 10px;">
    <ul style="list-style-type: none; display: flex; justify-content: space-around; margin: 0; padding: 0;">
      <li><a href="/" style="color: white; text-decoration: none;">Home</a></li>
      <li><a href="/cadastro" style="color: white; text-decoration: none;">Cadastro</a></li>
      <li><a href="/services" style="color: white; text-decoration: none;">Services</a></li>
      <li><a href="/contact" style="color: white; text-decoration: none;">Contact</a></li>
    </ul>
  </nav>
  