<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    Mini-ERP
  </a>

  <ul class="navbar-nav d-flex flex-row mr-auto">
    <li class="nav-item">
      <a class="nav-link mr-3" href="/admin/marcas">Marcas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mr-3" href="/admin/produtos">Produtos</a>
    </li>
  </ul>
</nav>
